@model List<Service>

@{
    int count = 0;
}

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a asp-action="create" asp-controller="service" asp-area="admin" class="btn btn-primary">Create Table</a>
            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Service service in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>
                                    <img src="~/img/services/@service.Image">
                                </td>
                                <td>@service.Name</td>
                                <td>@service.Description</td>
                                <td>
                                    <a class="btn btn-primary" asp-action="update" asp-controller="service" asp-route-id="@service.Id">Update</a>
                                    <a class="btn btn-danger" asp-action="delete" asp-controller="service" asp-route-id="@service.Id">Delete</a>
                                </td>
                            </tr>
                        }

                      
                       
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
